

.travel_banner{
    width: 100%;
    margin-top: 10%;
    height:50vh;
}

.travel_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem;
    width: 100%;
    
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
    
  }

  .home_body{
    background: linear-gradient(to bottom, #EE6123,#FEEFE5,#00916e);
    background-repeat:no-repeat;
    background-size: cover;
  
  }
  
  .card{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
  }