

.travel_banner{
    width: 100%;
    height: calc(60vw / 2);
    object-fit: cover;
}

.travel_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
    width: 100%;
    justify-content:center;
    margin: auto ;
   }
   
    .top_cards{
      margin-top: -150px

    }
  
  .card img {
    height: 200px;
    object-fit: cover;
    
  }

  .home_body {
    background: linear-gradient(to bottom, #ff4d00,#ffdbc4,#00916e);
    background-repeat:no-repeat;
    background-size: cover;
    overflow-y: scroll;
    margin-top: 90px;
  }
  
  .card{
    border-radius: 5px;
    background-color:#feefe57c;
    box-shadow: 2px 2px 10px #ff4d0062;
    flex: 1 0 200px;
  }

  .card img{
    border-radius: 5px;
  }
  .card:hover {
    transform: scale(1.0);
    box-shadow: 1px 1px 5px black;
  }

  .card_button {
    background-color:#EE6123;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
  }

.travel_blog_header{
  margin-top:-120px;
  z-index: -1;
}