.form-new-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../images/paradise.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}


  form {
    width: 500px;
    background-color:#FEEFE5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 95%;
  }
  
  label {
    display: block;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  input[type="file"] {
    display: block;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color:#EE6123;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #00916E;
  }
  