.form-new-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../images/paradise.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.bloggy{
  height: 5vh;
}

  .blog_form {
    width: 500px;
    background-color:#d9dee8dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 95%;
   margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
  }

  #description {
    width: 100%;
    height: 70%;
    margin-right: 100px;
  }
#article{
  height: 80%;
  width: 150%;

}
.required {
  color: red;
  margin-left: 4px;
}

.article label{
  margin-left: 100px;
}

  .article {
    height: 250px;
    margin-right: 100px;
  }

  .blog_card{
   top: 200px;
   background-color: #00916E;
   width: 80%;
  }
  
  input[type="file"] {
    display: block;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color:#EE6123;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #00916E;
  }
  


  @media screen and (max-width: 768px) {
    .form-new-blog {
      height: auto;
    }
    
    form {
      width: 65%;
      margin-top: 30%;
    }
  }
  