.about-me-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
    background-color: aliceblue;
    background-color: rgba(255, 228, 196, 0.934);
    z-index: 5;
 
  }
  .about{
    background-image: url(../../images/beach.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
  }

  .hansel{
    background-color: #ffcf00;

  }

  .shibin{
    background-color:  #2371ee;

  }
  
  .yugma{
    background-color:#EE6123;


  } 
  
  .about-me-card img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .about-me-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .about-me-card p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .about-me-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .about-me-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .about-me-card li {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  