.show_body{
background-image: url(../../images/waterfall.jpeg);
background-size: cover;
background-repeat:no-repeat ;
height: 100vh;
display: 'flex';
justify-content: 'center';
align-items: 'center';
height: '100vh'; 
}

.show_card {
    max-width: 500px; 
    width: 100%;
  }
  